# Python bytecode and cache
__pycache__/
*.py[cod]

# Logs and runtime files
*.log
*.db
*.sqlite3
*.env
logs/

# Jupyter notebooks and checkpoints
*.ipynb
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
.env/

# Git and DVC
.git/
.dvc/

# Data, artifacts, and models
data/
artifacts/
Artifacts/
models/
model/
# final_model/
saved_models/
*.csv
# *.pkl
*.joblib
*.h5

# Editor & IDE configs
.vscode/
notebook/
structure.txt
format.bat